In [89]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [90]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-02 20:38:33,-23.1203,-134.9692,79.32,71,24,18.16
1,1,Kavaratti,IN,2022-03-02 20:38:34,10.5669,72.6420,82.24,65,84,11.56
2,2,Khatanga,RU,2022-03-02 20:38:34,71.9667,102.5000,-1.43,88,100,8.21
3,3,Ushuaia,AR,2022-03-02 20:33:58,-54.8000,-68.3000,53.26,54,75,19.57
4,4,Albany,US,2022-03-02 20:38:35,42.6001,-73.9662,40.08,56,97,7.67

In [91]:
# get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [92]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [93]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

# using list comprehension:   
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [94]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [99]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()


preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-02 20:38:33,-23.1203,-134.9692,79.32,71,24,18.16
1,1,Kavaratti,IN,2022-03-02 20:38:34,10.5669,72.6420,82.24,65,84,11.56
5,5,Touros,BR,2022-03-02 20:38:35,-5.1989,-35.4608,86.90,74,68,9.66
6,6,Bandarbeyla,SO,2022-03-02 20:38:35,9.4942,50.8122,75.69,72,8,13.80
7,7,Atuona,PF,2022-03-02 20:38:36,-9.8000,-139.0333,77.95,80,24,19.30
12,12,Georgetown,MY,2022-03-02 20:38:37,5.4112,100.3354,76.98,94,20,2.30
14,14,Carauari,BR,2022-03-02 20:38:38,-4.8828,-66.8958,80.91,73,100,1.68
21,21,Kapaa,US,2022-03-02 20:38:40,22.0752,-159.3190,79.48,73,0,3.44
25,25,Puerto Ayora,EC,2022-03-02 20:38:42,-0.7393,-90.3518,85.96,85,92,7.00
27,27,Matamoros,MX,2022-03-02 20:38:43,25.5333,-103.2500,78.91,19,75,0.00

In [100]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

### Map Vacation Criteria

Module 6.5.4

In [101]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Rikitea      PF     79.32 -23.1203 -134.9692
1      Kavaratti      IN     82.24  10.5669   72.6420
5         Touros      BR     86.90  -5.1989  -35.4608
6    Bandarbeyla      SO     75.69   9.4942   50.8122
7         Atuona      PF     77.95  -9.8000 -139.0333
12    Georgetown      MY     76.98   5.4112  100.3354
14      Carauari      BR     80.91  -4.8828  -66.8958
21         Kapaa      US     79.48  22.0752 -159.3190
25  Puerto Ayora      EC     85.96  -0.7393  -90.3518
27     Matamoros      MX     78.91  25.5333 -103.2500

In [102]:
# Set parameters to search for a hotel.
params = {
    "radious": 5000,
    "type": "lodging",
    "key": "g_key"
}

In [103]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [104]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Rikitea      PF     79.32 -23.1203 -134.9692
1      Kavaratti      IN     82.24  10.5669   72.6420
5         Touros      BR     86.90  -5.1989  -35.4608
6    Bandarbeyla      SO     75.69   9.4942   50.8122
7         Atuona      PF     77.95  -9.8000 -139.0333
12    Georgetown      MY     76.98   5.4112  100.3354
14      Carauari      BR     80.91  -4.8828  -66.8958
21         Kapaa      US     79.48  22.0752 -159.3190
25  Puerto Ayora      EC     85.96  -0.7393  -90.3518
27     Matamoros      MX     78.91  25.5333 -103.2500

In [108]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [110]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [113]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

Let's review what we're doing with this code above:

We set the hotel_info equal to the info_box_content.

In the list comprehension, info_box_template.format(**row) for index,
row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame 
and then format the info_box_template with the data we set to populate the from each row. 

Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

In [114]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))